* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.cajaContenedora{
  width: 40%;
  max-width: 600px;
  background-color: aqua;
}

.cajaReloj{
  width: 50%;
  background-color: red;
}

.cajaReloj p {
  display: inline-block;
  line-height: 2em;
}